body{
background-image: url('kepek/hatter.jpg');
background-color: #f2f1f8;
margin-top: 10px;
}
.content{
    align-content: center;
    width: 800px;
    margin-inline: 20px;
    background: #f2f1f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}
h1{
   text-transform: uppercase;
   letter-spacing: 10px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.kep1{
float: left;
margin-right: 10px;
}
.kep2{
    float: right;
    margin-left: 10px;
}
img{
    border: 1px solid black;
    padding: 2px;
}
p{
    text-align: justify;
}
h5{
    border-bottom: 1px solid black;
}